.movie-item {
    position: relative;
    margin: 0 25px 57px 25px;
    cursor: pointer;

    img {
        max-width: 300px;
    }

    .movie-heading {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.7;
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.7;
            border: 1px solid rgba(151, 151, 151, .5);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 4px 13px;
        }
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin: 0;
    }

    .info-btn {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #232323;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 9px 0;
    
        div {
            width: 4px;
            height: 4px;
            background-color: white;
            border-radius: 50%;
        }
    }

    ul {
        position: absolute;
        right: 10px;
        top: 10px;
        margin-bottom: 0;
        padding: 26px 0 12px;
        min-width: 190px;
        background: rgba(35, 35, 35, 0.918051);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(27.1828px);
        border-radius: 4px;

        li {
            list-style-type: none;
            cursor: pointer;
            padding: 0 23px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            min-height: 34px;
            display: flex;
            align-items: center;
            transition: all .3;

            &:hover {
                background-color: #F65261;
                color: white;
            }
        }
    }
}