header {
    position: fixed;
    z-index: 9;
    width: 100%;
    
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        background-color: transparent;
        align-items: center;
    }

    .title {
        display: flex;
        // font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #F65261;
        font-family: 'Montserrat';

        p{
            margin: 0;

            &:first-child {
                font-weight: 900;
            }
        }
    }

    .search-btn {
        cursor: pointer;
    }
}