.sorting {
    display: flex;
    align-items: center;

    h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.888889px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-bottom: 0;
        margin-right: 34px;
    }

    .dropdown {
        display: flex;

        .dropdown-toggle {
            background-color: transparent !important;
            border: none;
            padding: 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff !important;
            letter-spacing: 0.888889px;
            text-transform: uppercase;
            color: #FFFFFF;

            &::after {
                color: #F65261;
                margin-left: 13px;
            }

            &:focus {
                box-shadow: none !important;
            }
         }
    }
}